 @{
    ViewBag.Title = "Index";
}


<!-- Banner-->
<section id="banner" data-video="images/banner">
    <div class="inner">
        <header>
            <div class="centeredBox">
                <h5>Welcome to</h5>
                <h1 id="welcome">Geronimo Hotel</h1>
                <div id="locationSearch">
                    <select class="form-control" id="chooseLocation" name="ChooseLocation">
                        <option>Choose Location</option>
                        <option value="1">Glasgow</option>
                        <option value="2">London</option>
                        <option value="3">Amsterdam</option>
                        <option value="4">New York</option>
                        <option value="5">Paris</option>
                    </select>
                    <button type="submit" name="name" class="btn btn-primary"><i class="fa fa-search"></i></button>

                </div>
            </div>
        </header>
    </div>

    <div class="btn-group socialMediaIcons">
        <a class="btn btn-default btn-primary" href="#">
            <i class="fa fa-facebook" title="Geronimo Hotel: Facebook"></i>
        </a>
        &nbsp;
        <a class="btn btn-default" href="#">
            <i class="fa fa-twitter" title="Geronimo Hotel: Twitter"></i>
        </a>
        &nbsp;
        <a class="btn btn-default" href="#">
            <i class="fa fa-instagram" title="Geronimo Hotel: Instagram"></i>
        </a>

    </div>
</section>
