 @{
    ViewBag.Title = "Index";
}


<!-- Banner-->
<section id="banner" data-video="images/banner">
    <div class="inner">
        <header>
            <div class="centeredBox">
                <h5>Welcome to</h5>
                <h1 id="welcome">Geronimo Hotel</h1>


                @using (Html.BeginForm("Index", "Hotel", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.DropDownList("LocationID", null, null, htmlAttributes: new { @class = "form-control", id = "chooseLocation" })

                        <button type="submit" name="name" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                    
                }
            </div>
        </header>
    </div>

    <div class="btn-group socialMediaIcons">
        <a class="btn btn-default btn-primary" href="#">
            <i class="fa fa-facebook" title="Geronimo Hotel: Facebook"></i>
        </a>
        &nbsp;
        <a class="btn btn-default" href="#">
            <i class="fa fa-twitter" title="Geronimo Hotel: Twitter"></i>
        </a>
        &nbsp;
        <a class="btn btn-default" href="#">
            <i class="fa fa-instagram" title="Geronimo Hotel: Instagram"></i>
        </a>

    </div>
</section>
