@{
    ViewBag.Title = "Index";
}


<!-- Banner-->
<section id="banner" data-video="images/banner">
    <div class="inner">
        <header>
            <h1>Welcome to Geronimo Hotels</h1>
            <p>
                Sed efficitur nisi ac turpis venenatis varius. Suspendisse sed dictum leo veroeros<br />
                sed ipsum amet pellentesque venenatis magna hendrerit blandit veroeros.
            </p>
        </header>
        <ul class="actions special">
            <li><a href="#" class="button primary large">Get Started</a></li>
        </ul>
    </div>
</section>



@*<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
