@{
    ViewBag.Title = "Events";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

    <h2>Events Display</h2>
    <p>Show all events</p>
    <p>Might have an Eventbrite API integration. Watch this space. </p>
</div> 