@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models

@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

    <h2>Room Availability</h2>
    <p>
        <ol>
            <li>
                All the rooms that are available for the booking. <br />
                With an option(s) to select options to book.
            </li>


        </ol>
        <a href="/Rooms/Payment/@Model.LocationID" class="button primary">Payment</a>
    </p>
</div>
