
@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

    <h2>Rooms Information View</h2>
    <p>
        <ol>
            <li>
                Everything that's in overview -> but extended.
            </li>
        </ol>
        @Html.ActionLink("Make a Booking", "RoomSelection", "Rooms", new {@class = "button primary" })
    </p>
</div>
