
@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

    <h2>Room Availability</h2>
    <p>
        Everything that's in overview -> but extended.
        <ol>
            <li>
                Show the availability of rooms.
            </li>
            <li>
                Choose from selection. Start date -> End date
            </li>
            <li>
                Guests count
            </li>
            <li>
                Room Chosen
            </li>
        </ol>
    </p>
</div> 
