
@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

    <h2>Handle Payment and Provide Booking Summary</h2>
    <p>
        <ol>
            <li>
                Provide Summary of Booking - items, costs and total. 
            </li>
            <li>
                option to pay now 
            </li>
           
        </ol>
    </p>
</div> 
