@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models

@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

    <div>
        <h2>Choose from a selection of wonderful rooms! </h2>


    </div>
</div>


<div class="containter">

    @using (Html.BeginForm("Availability", "Rooms", FormMethod.Post))
    {

        @*<h2>Make selection</h2>
            <p>
                Fill in form details
                <ol>
                    <li>
                        Location
                    </li>
                    <li>
                        Guests - total guests
                    </li>
                    <li>
                        Rooms - count of rooms required -
                    </li>
                    <li>
                        Choose from selection. Start date -> End date
                    </li>
                    <li>
                        Show the availability of rooms.
                    </li>


                </ol>
                <a href="/Rooms/Availability/@Model.LocationID" class="button primary">Show Availability</a>
            </p>*@


        <input type="text" name="guestsCount" id="guestsCount" placeholder="How many guests?" />
        <input type="text" name="roomTypeId" id="roomTypeId" placeholder="Room Selection" />
        <input type="date" name="startDate" id="startDate" placeholder="Start Date of reservation" />
        <input type="date" name="endDate" id="endDate" placeholder="End Date of reservation" />

        @* Declare hidden values for each of the folowing *@
        <input type="hidden" value=@Model.LocationID id="Id" name="LocationId" />


        <button type="submit" class="button primary"><i class="fa fa-search"></i>Show Availability</button>



    }




</div>


