
@{
    ViewBag.Title = "RoomAvailability";
}

<h2>Room Availability</h2>
<p>
    <ol>
        <li>
            Show the availability of rooms.
        </li>
        <li>
            Choose from selection. Start date -> End date
        </li>
        <li>
            Guests count
        </li>
        <li>
            Room Chosen
        </li>
    </ol>
</p>

