@model GeronimoHBS.Models.Location
@using GeronimoHBS.Models

@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

    <div>


   

            <h2>Make selection</h2>
            <p>
                Fill in form details
                <ol>
                    <li>
                        Location
                    </li>
                    <li>
                        Guests - total guests
                    </li>
                    <li>
                        Rooms - count of rooms required -
                    </li>
                    <li>
                        Choose from selection. Start date -> End date
                    </li>
                    <li>
                        Show the availability of rooms.
                    </li>


                </ol>
                <a href="/Rooms/Availability/@Model.LocationID" class="button primary">Show Availability</a>
            </p>

        

        <div>
            <a href="/Rooms/Index/@Model.LocationID" class="secondaryLink">Back to List</a>
        </div>


    </div>
</div>


