
@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">

    <h2>Classes Details - pass id of selected class</h2>
    <p>
        <ol>
            <li>
                Instructor, class name, description,
            </li>
        </ol>
    </p>

</div>