
@{
    ViewBag.Title = "Dining";
}

@{ Html.RenderPartial("_Breadcrumbs");}

<div class="container">
    <h2>Dining - Show Seating Availability</h2>
    <p>
        Everything that's in overview -> but extended.
        <ol>
            <li>
                Show seating availability
            </li>
            <li>
                Show costs,
            </li>

        </ol>
    </p>
</div>
