
@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.Partial("_Breadcrumbs");}
<div class="secondaryContainer">

    <h2>Dining Menu</h2>
    <p>
        <ol>
            <li>
                Current menu details
            </li>
            <li>
            </li>

        </ol>
    </p>
</div>


