
@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.Partial("_Breadcrumbs")}
<h2>Dining Menu</h2>
<p>
    Everything that's in overview -> but extended.
    <ol>
        <li>

        </li>
        <li>

        </li>

    </ol>
</p>

