
@{
    ViewBag.Title = "Index";
}

<h2>Geronimo Hotel</h2>
<p>Loved and adored by every damn person on the planet. </p>




<h3>ROOMS</h3>
<h3>SPA</h3>
<h3>GYM</h3>
<h3>RESTAURANT</h3>
<h3>EVENTS</h3>


<div class="body-content">
    <h4>Spa</h4>
    <p>Loved and adored by every damn person on the planet. </p>


</div>