<footer>
    <div class="footerContainer">
        <div class="columns">
            <div class="footerColumn">


                <h2>Locations</h2>
                <ul class="links">
                    <li><a href="" target="_blank">Glasgow</a></li>
                    <li><a href="" target="_blank">Paris</a></li>
                    <li><a href="" target="_blank">London</a></li>
                    <li><a href="" target="_blank">Amsterdam</a></li>
                    <li><a href="" target="_blank">New York</a></li>
                </ul>

            </div>

            <div class="footerColumn">
                <h2>Services</h2>
                <ul class="links">
                    <li><a href="" target="_blank">Rooms</a></li>
                    <li><a href="" target="_blank">Gym</a></li>
                    <li><a href="" target="_blank">Spa</a></li>
                    <li><a href="" target="_blank">Events</a></li>
                    <li><a href="" target="_blank">Dining</a></li>
                </ul>

            </div>



        </div>
        <div class="">
            <ul class="socialLinks">
                <li><a class="socialLink" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="socialLink" href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a class="socialLink" href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Geronimo Hotel • @DateTime.Now.Year</li>
            </ul>
        </div>
        <div id="backToTop">
            <a onclick="topFunction()" title="Back to Top"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</footer>


<script>
  

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
     
        $('html,body').animate({
            scrollTop: $("#top").offset().top
        }, 'slow');
    }

</script>
