
@{
    ViewBag.Title = "RoomAvailability";
}

@{ Html.RenderPartial("_Breadcrumbs");}


<div class="container">

    <h2>Spa Details</h2>
    <p>
        Everything that's in overview -> but extended.
        <ol>
            <li>
                Show availability
            </li>
            <li>
                Show equipment/setup
            </li>
            <li>
                link to gym (Gym/Index.cshtml)
            </li>

        </ol>
    </p>

</div> 